<div class="row">
  <div class="col-md-5">
    <h2>Contacts</h2>
    <ul class="list-group">
      <li class="list-group-item"
        *ngFor="let contact of contacts"
        (click)="selectContact(contact)"
        [class.active]="contact === selectedContact">
        {{contact.name}}
      </li>
    </ul>
    <button class="btn btn-warning" (click)="createNewContact()">New</button>
  </div>
  <div class="col-md-5 col-md-offset-2">
    <contact-details
      [contact]="selectedContact"
      [createHandler]="addContact"
      [updateHandler]="updateContact"
      [deleteHandler]="deleteContact">
    </contact-details>
  </div>
  <div >
    <label for="github-name">>GitHub Name</label>
    <input name="github-name" [(ngModel)]="contact.gitHubName" placeholder="git login"/>
    <button class="btn btn-primary" *ngIf="contact.gitHubName" (click)="fetchGitHubUrl()">Fetch</button>
    <label for="contact-github-name">url</label>
    <input type="text" *ngIf="gitHubUser" [(ngModel)]="gitURL" readonly/>
    <label for="contact-github-nBrepos">NbRepos</label>
    <input type="text" *ngIf="gitHubUser" [(ngModel)]="gitNbRepos" readonly/>
  </div>
</div>
